<html>

<head>
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body>
    <div class="login-page">
        <div class="form">
            <form class="login-form" action="/login" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Email" name="email" value="{{uInfo.email}}"/>
                {% if 'email' in errors %}
                <p class="error">{{errors.email}}</p>
                {% endif %}
                <input type="password" placeholder="Password" name="password"/>
                {% if 'email' in errors %}
                <p class="error">{{errors.password}}</p>
                {% endif %}
                <button>login</button>
                <p class="message">Not registered? <a href="/register">Create an account</a></p>
            </form>
        </div>
    </div>
</body>

</html>