<html>

<head>
    <title>Registeration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body>
    <div class="login-page">
        <div class="form">
            <form class="login-form" action="/registering" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="First Name" name="fname" value="{{uInfo.fname}}"/>
                {% if 'fname' in errors %}
                <p class="error">{{errors.fname}}</p>
                {% endif %}
                <input type="text" placeholder="Last Name" name="lname" value="{{uInfo.lname}}"/>
                {% if 'lname' in errors %}
                <p class="error">{{errors.lname}}</p>
                {% endif %}
                <input type="text" placeholder="Email Address" name="email" value="{{uInfo.email}}"/>
                {% if 'email' in errors %}
                <p class="error">{{errors.email}}</p>
                {% endif %}
                <input type="password" placeholder="Password" name="password"/>
                {% if 'password' in errors %}
                <p class="error">{{errors.password}}</p>
                {% endif %}
                <input type="password" placeholder="Confirm Password" name="confirm"/>
                {% if 'confirm' in errors %}
                <p class="error">{{errors.confirm}}</p>
                {% endif %}
                <button>create</button>
                <p class="message">Already registered? <a href="/">Sign In</a></p>
            </form>
        </div>
    </div>
</body>

</html>